


.title {
    font-family: fantasy;
}

.square {
    background-color: rgb(216, 165, 192);
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin: 50px auto;
    transition: all 1s;

}

.square:hover {
    background-color: blue;
    transform: rotate(30deg);
}

.button-div {
    text-align: center;
}
.button {
    color: rgb(87, 86, 86);
    background-color: aquamarine;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;
    
}

.button:hover {
    background-color:beige;
    color:black;
    transform: scale(1.5);
}