body {
   animation: change-color 8s infinite alternate;
}
@keyframes change-color {
    0% {background-color: antiquewhite;}
    50% { background-color: rgb(247, 243, 130);}
    100% { background-color: rgb(255, 178, 255);}

}

.title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 80px auto ;
    animation: skew 3s infinite alternate;
}

@keyframes skew {
    0% {transform: skew(0deg, 0deg,);}
    100% {transform:skew(30deg, 20deg);}
}

.subtitle {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 90px auto ;
    animation: rotate 3s infinite alternate;
}

@keyframes rotate {
    0% {transform: rotate(0.0 turn);}
    100% {transform: rotate(0.7turn);}
}

.square {
    background-color: rgb(216, 165, 192);
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin: 50px auto;
    transition: all 1s;

}

.square:hover {
    background-color: blue;
    transform: rotate(30deg);
}

.button-div {
    text-align: center;
}
.button {
    color: rgb(87, 86, 86);
    background-color: aquamarine;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;
    
}

.button:hover {
    background-color:beige;
    color:black;
    transform: scale(1.5);
}

.loading {
    background-color: cornflowerblue;
    animation: stretch 5s 3 infinite alternate;
    width: 80vw;
}

@keyframes stretch {
    0% {width: 100px;}
    100% { width: 100vw}
}
.key-div {
    text-align: center;
}
.key {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;
    
}

.key:hover {
    background-color:beige;
    color:black;
    transform: scale(1.5);
}