header {
    background-color: rgb(245, 237, 198);
    background-size: cover;
    background-repeat:none;
    background-attachment: fixed;
}

.main-content {
    position: relative;
        background-image: url('./photos/gl.png');
        background-size: 200px;
        width: 1000px;
        height: 850px;
        margin: 10px auto;
        padding: 40px;
        border: 10px dashed #523e30;
        border-radius: 12px;
        box-shadow: 2px 2px 10 px rgba(0,0,0,3);
        z-index: 1;
}

.grid {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    flex-wrap: wrap;
}

.section-medium{
    width: 300px;
    height: 250px;
    image-size: cover;
    color:rgb(28, 26, 23);
    overflow-y: scroll;

}
.section-large{
    width: 650px;
    height: 850px;
    background-image: url();
    color:rgb(28, 26, 23);
    overflow-y: scroll;
    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;

}
.header-text {
    allign-text: left;
}