header {
    background-color: black;
    background-size: cover;
    background-repeat:none;
    background-attachment: fixed;
}

.main-content {
    position: relative;
        background-image: none;
        background-size: 200;
        width: 1000px;
        margin: 10px auto;
        padding: 40px;
        border: 10px dotted #523e30;
        border-radius: 12px;
        box-shadow: 2px 2px 10 px rgba(0,0,0,3);
        z-index: 1;
}

.grid {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    flex-wrap: wrap;
}

.section-medium{
    width: 300px;
    height: 250px;
    background-image: url();
    color:antiquewhite;
    overflow-y: scroll;

}